/* Start Variables*/
:root {
  --main-color: #19c8fa;
  --transpernt-color: rgb(15, 116, 143, 70%);
  --section-padding: 100px;
}
/* End Variables*/
/* Start competent*/
.main-title {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.main-title h2 {
  font-size: 38px;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
}
.main-title h2::before,
.main-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.main-title h2::before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -28px;
  background-color: #fff;
  z-index: 2;
  border: 2px solid #555;
}
.main-title h2::after {
  width: 25%;
  bottom: -17px;
  border: 1px solid #555;
}
.main-title p {
  margin: 0 auto;
  margin-top: 40px;
  color: #777;
  max-width: 70%;
  text-align: center;
  line-height: 2;
}
/* End competent*/
/* Start Global Rules*/
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Medim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules*/

/* Start Header */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: relative;
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 15px;
  width: calc(100% - 30px);
}
header .logo img {
  height: 80px;
  position: relative;
  z-index: 2;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle {
  color: #fff;
  font-size: 22px;
}
header nav .toggle:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header nav .toggle:hover + ul a {
  padding: 15px;
}
@media (min-width: 768px) {
  header nav .toggle {
    display: none;
  }
}

header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav li a {
  display: block;
  padding: 40px 10px;
  font-size: 18px;
  transition: 0.3s;
  color: #fff;
  position: relative;
  z-index: 2;
}
header nav li a:hover,
header nav li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .search {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #fff;
}
header nav .search i {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  font-size: 16px;
  right: 0;
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: blueviolet;
  background-image: url(../images/lake-862987.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  color: #fff;
  width: 50%;
  padding: 40px;
  background-color: var(--transpernt-color);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.landing .text .contant {
  max-width: 500px;
}

.landing .text .contant h2 {
  font-size: 35px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
}
.landing .text .contant p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.8;
  text-align: justify;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    margin: 25px 0;
  }
  .landing .text .contant {
    width: 100%;
  }
  .landing .text .contant p {
    font-size: 15px;
    font-weight: 1.1;
  }
  .landing .text .contant h2 {
    font-size: 30px;
    font-weight: 1.1;
  }
}

.landing .chang-back {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.landing .chang-back.fa-angle-left {
  left: 15px;
}
.landing .chang-back.fa-angle-right {
  right: 15px;
}
.landing ul {
  position: absolute;
  color: #fff;
  left: 50%;
  bottom: 20px;
  transform: translatex(-50%);
}
.landing ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
}
.landing ul li.active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
/* End Landing */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .ser-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services .ser-box h3 {
  color: var(--main-color);
  margin: 0 0 30px 40px;
  font-size: 22px;
}
.services .ser-box p {
  text-align: justify;
  line-height: 2;
  color: #777;
  margin-left: 90px;
  width: 100%;
}
@media (min-width: 768px) {
  .ser-contant {
    width: 48%;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .ser-contant i {
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  .ser-contant h3 {
    text-align: center;
    margin: 0 auto 30px !important;
  }
  .ser-contant p {
    max-width: 100%;
    margin: auto !important;
  }
}
/* End Services */
/* Start Design */
.design {
}
.design .design-img {
  position: relative;
  overflow: hidden;
}
.design img {
  display: block;
  height: 500px;
  width: 100%;
}
.design .design-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.design {
  position: relative;
  overflow: hidden;
}
.design .phon {
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 3;
  width: 30%;
  left: 60px;
}

.design .design-contant {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  transform: translatey(-50%);
  z-index: 3;
  background-color: var(--transpernt-color);
  color: #fff;
  padding: 10px;
}
.design .design-contant h3 {
  padding: 15px;
  font-size: 28px;
  letter-spacing: 3;
  font-weight: normal;
}
.design .design-contant li {
  padding: 15px;
  font-size: 20px;
}
.design .design-contant li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
@media (max-width: 768px) {
  .design .phon {
    display: none;
  }
  .design .design-contant {
    width: 100%;
  }
}
/* End Design */

/* Start Portfolio */
.Portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.Portfolio ul {
  margin: auto;
  text-align: center;
  margin: 40px 0;
}
.Portfolio ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
.Portfolio ul li.active,
.Portfolio ul li:hover {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.Portfolio .galary img {
  height: 100%;
  padding-bottom: 10px;
}
.Portfolio .galary {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  margin-top: 60px;
}
.galary .galary-con {
  flex-basis: 96%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .galary .galary-con {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .galary .galary-con {
    flex-basis: 25%;
  }
}
.Portfolio .galary .galary-con img {
  max-width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.galary .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  transition: 0.4s;
  bottom: -100%;
}
.galary .galary-con:hover .caption {
  bottom: 0;
}
.galary .galary-con:hover img {
  transform: rotate(3deg) scale(1.1);
}
.galary .galary-con .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.galary .galary-con .caption p {
  color: var(--main-color);
}
.Portfolio .more {
  font-size: 18px;
  height: 50px;
  width: 100px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--main-color);
  display: block;
  margin: 25px auto;
  line-height: 0.8;
}
.Portfolio .more:hover {
  color: #fff;
}
/* End Portfolio */
/* Start  Vidoe */
.video {
  position: relative;
}
.video video {
  width: 100%;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.video .text {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  background-color: var(--transpernt-color);
  transform: translatey(-50%);
  width: 100%;
  height: 25%;
  text-align: center;
  z-index: 2;
}

.video .text h2 {
  margin: 30px 0 25px;
}

.video .text p {
  margin-bottom: 30px;
}
.video .text a {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .video .text {
    height: 100%;
  }
}
/* End  Vidoe */

/* Start About Us */
.about-us .container {
  padding-top: var(--section-padding);
  margin-bottom: var(--section-padding);
}

.about-us .image {
  position: relative;
  overflow: hidden;
}
.about-us .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.about-us .image img {
  height: 500px;
  width: 100%;
}
.about-us .image-phon {
  position: relative;
  height: 240px;
  overflow: hidden;
}
.about-us .image-phon img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 80%;
  min-height: 330px;
}
/* End About Us */

/* Start Stats*/
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url(../images/about.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: center;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.stats .container {
  position: relative;
  z-index: 2;
}
.stats .number {
  display: grid;
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-around;
  background-color: var(--transpernt-color);
  padding: 30px;
  text-align: center;
}

.stats .number i {
  color: #fff;
  background-color: #000;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 2.8;
  margin-top: 40px;
}
.stats .contant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stats .number .num {
  font-size: 50px;
  font-weight: bold;
}
.stats .number .sub-title {
  margin-top: 10px;
  margin-bottom: 40px;
}
/* End Stats*/
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .our-skills .container > div {
    width: 45%;
  }
  .our-skills .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.our-skills .testimonials h3,
.our-skills .skills h3 {
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.3;
}
.our-skills .testimonials p,
.our-skills .skills p {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px;
}
.our-skills .testimonials img {
  width: 100px;
  display: block;
}
.our-skills .contant {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.our-skills .contant p {
  max-width: 70%;
  margin-top: 50px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.6;
  text-align: left;
  position: relative;
}
.our-skills .contant p::after {
  content: "";
  bottom: -40px;
  left: 0;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #ccc;
}
.our-skills .contant p span {
  text-align: left;
  color: #888;
  font-size: 18px;
  position: absolute;
  bottom: -35px;
  right: 20px;
}
.our-skills .bulltes ul {
  text-align: center;
}
.our-skills .testimonials li {
  margin: 30px 2px;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-color);
  display: inline-block;
  border-radius: 50%;
}
.our-skills .testimonials li.active,
.our-skills .testimonials li:hover {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .our-skills .contant {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .our-skills .bulltes ul {
    margin-bottom: 40px;
  }
}
.skills > div:nth-of-type(1) {
  margin-top: 100px;
}
.skills .prog-holder {
  padding: 10px 0 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.skills .prog-holder .prog {
  background-color: #dedadc;
  height: 25px;
  width: 100%;
}
.skills .prog-holder span {
  background-color: var(--main-color);
  display: block;
  height: 100%;
  position: relative;
}
.skills .prog-holder span::before {
  content: attr(data-progress);
  position: absolute;
  top: -39px;
  right: -17px;
  color: #fff;
  background-color: #333;
  padding: 6px;
}
.skills .prog-holder span::after {
  content: "";
  position: absolute;
  top: -9px;
  right: -8px;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.skills .prog-holder h4 {
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 6px;
  padding-left: 5px;
  text-transform: uppercase;
}

/* End Skills */
